# Build outputs
build/
out/
dist/
tmp/
test-output/
.konan-cache/

# IDE/editor
.idea/
.vscode/
.DS_Store

# Kotlin/Native artifacts
**/*.kexe
**/*.dSYM/
**/*.o
**/*.obj
**/*.klib

# Gradle
.gradle/
gradle.zip
gradle/
gradlew
gradlew.bat

# Logs
*.log
